* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Be vietnam pro", sans-serif;

}

body{
    background-color:rgb(215, 185, 145);
}

.cv {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 928px;
    margin: 0 auto;
}

.part-one {
    order: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    background-color: #e6d7b8;
    padding: 1em 2em 2em 2em;

}

.part-two {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    background-color: #1d3549;
    color: #fff;
    padding: 1em 2em 0em 2em;

}


.header__description {
    max-width: 65ch;
    line-height: 1.5;
}

.experiences__job-intro {
    display: flex;
   flex-direction: column;
    
    flex-wrap: wrap;
}

.experiences__job-title {
    margin-right: .50em;
    flex: 50%;
}

.experiences__date {
    margin-left: .50em;
}

.formations__entry-intro {
    display: flex;
    flex-direction:column ;
    margin-bottom: .25em;
}

.formations__entry-title {
    margin-right: .50em;
    flex: 50%;
}

.formations__date {
    margin-left: .50em;
    align-self: start;
}

.header__title,
.competences__title,
.experiences__title,
.formations__title,
.contact__title,
.informatique__title,
.langues__title {
    margin-bottom: .5em;
}

.competences__title,
.experiences__title,
.formations__title {
    background-color: #b8d07b;
    border-radius: .3em;
    line-height: 1.3;

}

.experiences__job {
    display: flex;
    flex-direction: column;
    row-gap: .25em;
}

.formations__list {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    padding-left: 0;
    list-style-type: none;
}

.experiences__list {
    display: flex;
    row-gap: .5em;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;

}

.competences__details,
.experiences__details,
.contact__details,
.informatique__details,
.langues__details {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    list-style-type: disc;
}

.formations__details {
    list-style: disc;
}

.header__title {
    line-height: 1.1;
}


.experiences__job-title {
    line-height: 1.4;
}

.contact__tel,
.contact__email {
    text-decoration: none;
    color: #fff;
}

.contact__email:hover,
.contact__tel:hover {
    text-decoration: underline;
}

 @media (max-width:883px) {
    article {
        flex-direction: column;
    }

    .part-one {
        order: 0;
        padding-bottom: 2em;
    }

    .part-two {
        padding-bottom: 3em;
    }
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    margin: 0;
    transform: scale(.95);
    transform-origin: top left;
    font-size: 11pt;
    line-height: 1.3;
  }
  
  .cv {
    max-width: none;
    grid-template-columns: 43% 57%;
    display: grid;
  }

  .part-one,
  .part-two {
    width: 100%;
    padding: 0;
  }


  .part-one{
    order: 1;
  }
  .experiences__job-intro {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}
  .experiences__date{
    align-self: center;
}
  .formations__date {
    align-self: center;
}
.formations__entry-intro{
    flex-direction: row;
}

}